{% extends 'shop/base.html' %}
{% load static %}
{% block title %} О нас {% endblock %}
{% block content %}
<div class="container">
<div class="row">
  <div class="col-md-6">
    <img src="{%static 'img/front_of_shop.jpg'%}" class="img-thumbnail" height="400">
  </div>
      <div class="col-md-6">
          <h4 class="align-middle">
              Если вы хотите купить свежее и качественное мясо то добро
              пожаловать в магазин "Мясной Рядъ".<br></br>
               К вашему выбору:<br></br>
              <p>-Свежая свинина, курица, домашние утки.</p>
              <p>-Вкуснейшие полуфабрикаты собственного производства 
                (пельмени, тефтели, голубцы, сырники, котлеты, колбасы, тушенка) </p>
                <p> -Замороженная рыба</p>
              <p>-колбасы от Брянских производителей"</p>
          </h4>
      </div>
</div>
  <div class="row">
        <div class="col-md-6" style="margin-top: 15%">
            <h4>
                Вы можете оформить у нас доставку в любой 
                район города(и даже немножко за городом)
            </h4>
        </div>
        <div class="col-md-6">
          <img src="{%static 'img/front2_of_shop.jpg'%}"  class="img-thumbnail" height="400">
        </div>
  </div>
  <div class="row">
    
    <div class="col-md-6">
      <img src="{%static 'img/ice_box.jpg'%}"  class="img-thumbnail" height="400">
    </div>
    <div class="col-md-6" style="margin-top: 15%">
      <h4>
        Ежедневный завоз свежего мяса от лучших поставщиков брянска, а так же 
        продукция собственного приготовления "Кулинарочка" которая не оставит вас 
        равнодушными
      </h4>
  </div>
</div>
</div>
{% endblock %}