{% extends 'shop/base.html' %}
{% block title %} О нас {% endblock %}
{% block content %}
<div>
    <img>
</div>
    <h4>
        Если вы хотите купить свежее и качественное мясо то добро пожаловать в магазин "Мясной Рядъ". К вашему выбору:
        <p>-Свежая свинина, курица, домашние утки.</p>
        <p>-Вкуснейшие полуфабрикаты собственного производства (пельмени, тефтели, голубцы, сырники, котлеты, колбасы, тушенка) -Замороженная рыба</p>
        <p>-колбасы от Брянских производителей"</p>
    </h4>

{% endblock %}