<!DOCTYPE HTML>
{% load static %}
<html>
<head>
<title>Мясной ряд</title>
<style>

   </style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<link href="{%static 'css/bootstrap.css'%}" rel='stylesheet' type='text/css' />
<link href="{%static 'css/style.css'%}" rel='stylesheet' type='text/css' />	
<link href="{% static 'css/megamenu.css' %}" rel="stylesheet" type="text/css" media="all" />
 <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,300italic,600,700' rel='stylesheet' type='text/css'>
 <link href='//fonts.googleapis.com/css?family=Roboto+Slab:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="header_bg">
   <div class="container">
	<div class="header">
	  {% include 'shop/header.html' %}
	<div class="products">
		<div class="container">
			<div class="products-grids">
				    {% block content %}
					{% endblock %}
							</ul>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
</html>