{% extends 'shop/base.html' %}
{% block title %} Корзина {% endblock %}
{% block content %}
    {% for item in card %}
      <div style="border: ridge; text-align: center" class='row'>
        <div class="col-md-6 col-sm-6 ">
            <form action="{%url 'shop:card'%}" method = "post">
                {% csrf_token %}
                <input type="hidden" name='item_for_change' value="{{item.id}}"></input>
                <h4>
                    {{item.product.name}}
                    (<input 
                      type="text"
                      size="1"
                      pattern="0.5|[1-9]\.[05]"
                      maxlength="3"
                      value="{{item.quantity}}"
                      style="font-size: smaller"
                      name="quantity_for_change"
                      title="от 0.5 до(через точку) 9.5 (кратно 0.5)"
                    >{{item.product.get_amount_display}})
                    <p>
                      <input 
                        style="font-size: small" 
                        type ="submit" 
                        value="Изменить"
                        title="Введите новое колличество выше, и нажмите изменить чтоб изменить его))"
                      >   
        </div>
            </form>
              <div class="col-md-6 col-sm-6">
                <form action="{%url 'shop:card'%}" method = "post">
                  {% csrf_token %}
                <input type="hidden" name='item_for_delete' value="{{item.id}}"></input>
                {{item.price}} руб
                <p style =><input 
                      class="btn btn-primary" 
                      type="submit" 
                      value="Убрать">
                     </input>
                  </h4>  
                 </form>
              </div>
      </div>
    {% endfor %}
    <h2 
      style="text-align: end; margin: 0.5em"
      title="Общая стоимость заказа"
    >{{total_price}} руб </h2>
    <div class ="container text-center">
      <form action="{%url 'shop:request'%}">  
        <button 
          class="btn btn-primary btn-lg active" 
          style="background: #d21818d9; color: black"
          type="submit"
          >Оформить заявку
        </button></div></form>
{% endblock %}