{% extends 'shop/base.html' %}
{% load static %}
{% block title %} Контакты {% endblock %}
{% block content %}
<div class="contacts">
    <h4>Мы находимся в центре Брянска на остановке Школа №2</h4>
    <h4>График работы:</h4>
    <h4>&emsp; &emsp; будни 08:00-20:00</h4>
    <h4>&emsp; &emsp; выходные 08:00-18:00</h4>
</div>
<div class="text-center">
   <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/myasnoy_ryad/1872841050/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Мясной рядъ</a><a href="https://yandex.ru/maps/191/bryansk/category/butcher_shop_deli/184108027/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Магазин мяса, колбас в Брянске</a><iframe src="https://yandex.ru/map-widget/v1/-/CCU6AIcWSA" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
</div>
