{% extends 'shop/base.html' %}
{% block title %} Доставка {% endblock %}
{% block content %}
<div class="contacts">
    <h4>-Доставка осуществляется при заказе на сумму более 1000 рублей</h4>
    <h4 style="font-weight: 700">-При меньшей сумме заказ не будет обработан</h4>
    <h4>-Доставку производим по городу Брянску</h4>
    <h4>-Есть возможность доставки замариновоного мяса (пишите в личку или коменнтарий к заказу.)</h4>
    </h4>
</div>
<div class="text-center">
  <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/myasnoy_ryad/1872841050/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Мясной рядъ</a><a href="https://yandex.ru/maps/191/bryansk/category/butcher_shop_deli/184108027/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Магазин мяса, колбас в Брянске</a><iframe src="https://yandex.ru/map-widget/v1/-/CCU6AIcWSA" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
</div>
{%endblock%}
