{% with request.resolver_match.view_name as view %}
<div class="head-t">
    <div class="header_right ">
        {%if view == 'shop:shop'%}
       <div class="cardwrapper">
           <a href="{%url 'shop:card'%}">
           <h3  class=""> Корзина {{card.count}}</h3>
           <p class="smallcard">Товаров: {{card.count}}</p>
           <p class="smallcard">Сумма:{{total_price}}</p>     
        </div>
            </a>
        <div class="clearfix"></div>
       {%endif%}				 
   </div>
    <div class='row'>
      <div class="col md-6 logo">
           <a href="{%url 'shop:shop'%}"><h1>Мясной <span>РядЪ</span></h1> </a> 
       </div>
      <div class="col md-6" style="text-align: end">
        {%include 'shop/includes/icons.html'%}
      </div>
    </div>
     
    <div> 
        
        <ul class="megamenu skyblue" style ="background: white">
        <li  class="{% if view ==  'shop:shop'%} active grid {% endif %}" >
            <a class="color1" href="{%url 'shop:shop'%}">Магазин</a>
        </li>
        <li class="{% if view ==  'shop:about'%}active grid{% endif %}">
            <a class="color1" href="{%url 'shop:about'%}">О нас</a>
        </li>
        <li class="{% if view ==  'shop:contacts'%} active grid {% endif %}">
            <a class="color1" href="{%url 'shop:contacts'%}">Контакты</a>
        </li>   
        <li class="#">
            <a class="color1" href="#">Замариновать мясо</a>
        </li>
    </div>
</div>
{%endwith%}