{% extends "shop/base.html" %}
{% block title %}Заявка{% endblock %}
{% block content %} 
  <div class="row justify-content-center" style='background-color: #cde4f7'>
    <div class="col">
      <div class="card ">
        <div class="card-header text-center"><h4>Оформить заявку на доставку</div>
        <div class="request_info">
          <h3>Товаров: {{card.count}}</h3>
          <h3> На сумму: {{total_price}} руб.</h3>
        </div> 
          <div style= 'margin-left: 10px'class="container ">
              {% if form.errors %}
                  {% for field in form %} 
                    {% for error in field.errors %}            
                      <div class="alert alert-danger">
                        {{ error|escape }}
                      </div>
                    {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                      {{ error|escape }}
                    </div>
                  {% endfor %}
              {% endif %}
              <form method="post" action="#">
              {% csrf_token %}
              {% for field in form %} 
                <div class="form-group row my-3">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                      {% if field.field.required %}
                        <span class="required text-danger">*</span>
                      {% endif %}
                  </label>
                  {{field}} 
                    {% if field.help_text %}
                      <small 
                         id="{{ field.id_for_label }}-help"
                         class="form-text text-muted"
                      >
                        {{ field.help_text|safe }}
                      </small>
                    {% endif %}
                </div>
              {% endfor %}
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg active">
                  Заказать
                </button>
              </div>
            </form>
          </div>
        </div>
      </div> 
  </div> 
{% endblock %} 